@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

/* Navigation */

.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand {
  padding-bottom: 0;
}

.navbar-dark .navbar-toggler {
  border: 0;
}

/* Landing */

.conatiner-landing {
  background: url(../images/landing-background4.jpg) no-repeat bottom center fixed;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  position: relative;
}

/* Jumbotron */

.jumbotron {
  background-color: transparent;
}

.jumbotron-heading {
  font-weight: bold;
  letter-spacing: 4px;
  font-size: 3.5rem;
  color: #fff;
  font-style: italic;
  margin-bottom: 20px;
}

.jumbotron .lead {
  color: #fff;
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

/* Block- dividers */

.block-divider-heading {
  background-color: #fff;
  margin-bottom: 30px;
}

.block-divider-about {
  background-color: #000;
  margin-bottom: 30px;
  width: 75px;
  height: 2px;
  align-self: center;
}

/* Buttons */

.btn-cta {
  background-color: #e15636;
  border: 1px solid #e15636;
  font-weight: bold;
  border-radius: 15px;
}

.btn-cta:hover,
.btn-cta:focus {
  background-color: #ffc107;
  border: 1px solid #ffc107;
}

/* About */

.container-about {
  width: 100%;
  height: auto;
  background-color: rgb(236, 233, 233);
}

.about {
  padding-bottom: 20px;
}

.container-about .about-heading {
  font-size: 40px;
  margin-top: 20px;
  letter-spacing: 3px;
  font-weight: bold;
}

.container-about i {
  font-size: 30px;
}

.about-text-container {
  margin-bottom: 20px;
  height: 100%;
  width: 100%;
}

.about-text {
  width: 100%;
  max-width: 600px;
  height: auto;
  letter-spacing: 2px;
  line-height: 40px;
  font-size: 20px;
}

.about-media {
  height: 100%;
  width: 100%;
  display: block;
}

.about-media img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* Media Queries */

/*

Extra small devices (phones, 600px and down) 
@media only screen and (max-width: 600px) {...}
*/
/*
Small devices (portrait tablets and large phones, 600px and up) 
@media only screen and (min-width: 600px) {...}
*/

/* Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) {
  
  
}
*/

/*
Large devices (laptops/desktops, 992px and up) 
@media only screen and (min-width: 992px) {...}

Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {...}

*/
